<h1>Pirates</h1>
    <p><%= @pirate.name %></p><br>
    <p><%= @pirate.weight %></p><br>
    <p><%= @pirate.height %></p><br>
<br>

<% @ship.each do |ship|%>
<h2>Ships</h2>
    <p> <%= ship.name %></p><br>
    <p> <%= ship.type %></p><br>
    <p> <%= ship.booty %></p><br>
<% end %>

